#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app-container {
  background-color: rgb(70, 197, 219);
  height: 100;
  margin: 50;
  flex-direction: row;
  padding: 0;
}

.top-half {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  height: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.bot-half {
  position: absolute;
  top: 23%;
  left: 0;
  width: 100%;
  flex-direction: row;
  height: 77%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
  background-color: rgb(88, 161, 239);
}
.sub-text {
  
  font-size: 1.5em;
  color: rgb(88, 161, 239);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sub-text2 {
  background-color: rgb(255, 255, 255);
  font-size: 1.5em;
  color: rgb(88, 161, 239);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 50px; 
  padding: 0.5rem; 
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #ffefef;
}
